.root {
  font-family: var(--font-sans);;
  display: grid;
  grid-template-columns: var(--grid-spec);
  grid-gap: var(--sp-xs);
  flex-wrap: wrap;
  /*margin-bottom: var(--sp-s);*/
  align-items: center;
}

.navigation {
  grid-column: 3;
  display: grid;
  justify-content: flex-end;
}

.root nav ul {
  display: flex;
  gap: var(--sp-s);
}

@media (max-width: 64em) {
  .root {
    grid-template-columns: auto auto;
  }
}

.activeSegment {
  text-decoration: underline !important;
  text-decoration-color: var(--hover-color) !important;
  text-decoration-thickness: max(0.05em, 1px);
}
