@font-face {
	font-family: "Acumin Pro";
	font-weight: 300;
	src: url("../fonts/AcuminPro-Light.woff2");
}

@font-face {
	font-family: "Acumin Pro";
	font-weight: 400;
	src: url("../fonts/AcuminPro-Regular.woff2");
}

@font-face {
	font-family: "Acumin Pro";
	font-weight: 500;
	src: url("../fonts/AcuminPro-Medium.woff2");
}

@font-face {
	font-family: "Acumin Pro";
	font-weight: 700;
	src: url("../fonts/AcuminPro-Bold.woff2");
}