.root {
  border-top: 1px solid var(--gray30);
  margin-top: var(--sp-l);
  padding-top: var(--sp-s);
  color: var(--meta-color);
  display: grid;
  grid-template-columns: var(--grid-spec);
}

.wrapper {
  grid-column: var(--center-column);
}
