.root {
  display: grid;
  grid-template-rows: 3fr 1fr;
  --tile-padding: 1.8vmax;
}

.home {
  height: 100vh;
}

.intro {
  padding: var(--tile-padding);
  height: 100%;
  overflow: auto;
}

.spanall {
  grid-column: 1 / 3;
}

.root h2 {
  line-height: 1;
  padding: 0;
  margin: 0;
}

.tile {
  font-size: clamp(1.25rem, 2vmin, 3.5rem);
  background-color: var(--tile-background);
  color: var(--tile-foreground);
  padding: var(--tile-padding);
  text-align: center;
  overflow: hidden;
  transition: 0.075s ease;
}

a.tile {
  text-decoration: none;
}

.tile img {
  max-width: 21rem !important;
  margin: 0 auto;
  display: block;
  position: relative;
}

.solstice {
  --tile-background: rgb(46, 177, 200);
  --tile-foreground: mistyrose;
}

@supports (background-color: lch(60% 180 192)) {
  .solstice {
    --tile-background: lch(60% 180 192);
  }
}

.whereWeCanGo {
  --tile-background: orange;
  --tile-foreground: #060405;
  --hover-color: slateblue;
}

.wwcgImage {
  object-fit: contain;
  mix-blend-mode: luminosity;

  width: 100%;
}

.zeitgeist {
  --tile-background: seagreen;
  --tile-foreground: powderblue;
}

.extras {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
}

.extras a {
  padding: var(--tile-padding);
  padding-block-end: calc(var(--tile-padding) * 1.2);
  display: grid;
  place-items: center;
  text-decoration: none;
  border-top: 1px solid black;
  transition: 0.075s ease;
  font-size: clamp(1rem, 8vmin, 2rem);
}

.extras a:nth-child(1) {
  border-right: 1px solid black;
}

.extras a:nth-child(2) {
  border-right: 1px solid black;
}

@media (prefers-color-scheme: dark) {
  .extras a {
    border-top: 1px solid white;
  }

  .extras a:nth-child(1) {
    border-right: 1px solid white;
  }

  .extras a:nth-child(2) {
    border-right: 1px solid white;
  }
}

.xxl {
  font-size: clamp(1.5rem, 8vmin, 3.5rem);
  line-height: 1.2;
  font-style: normal;
  font-family: var(--font-sans);
  letter-spacing: -0.025em;
}

.intro .xxl a {
  --padding-size: 0.05em;
  font-family: var(--font-heading);
  letter-spacing: 0;
  font-style: italic;
}

@media (max-width: 1000px) {
  .root {
    grid-template-rows: 1fr;
    display: grid;
    /*height: auto;*/
  }

  .intro {
    height: auto;
  }

  .tile {
    aspect-ratio: unset;
    width: 100%;
  }

  .extras {
    display: grid;
    grid-template-columns: 1fr;
  }

  .extras a:nth-child(1),
  .extras a:nth-child(2) {
    border-right: none;
  }
}
