.wrapper {
  display: grid;
  grid-gap: var(--sp-m);
  grid-template-columns: var(--grid-spec);
  margin-top: var(--sp-s);
  flex-grow: 1;
}

.wrapper:focus {
  outline: none;
}

.wrapper > main {
  grid-column: var(--center-column);
}
