.button {
    margin: var(--sp-xl) 0 0;
    text-align: right;
    font-size: 16px;
    text-transform: capitalize;

    a {
        background-color: transparent;
        text-decoration: none;
        display: inline-block;
        transition: background-color .2s;
        padding: 10px 20px;
        border: 1px solid var(--text-color);
        border-radius: 5px;
        font-weight: 700;
        font-size: 16px;

        &:hover {
            color: var(--background);
            border-color: var(--text-color);
            background-color: var(--text-color);
        }

        // &:after {
        //     content: "";
        //     position: absolute;
        //     width: 100%;
        //     height: 100%;
        //     left: 10px;
        //     top: 10px;
        //     background-color: var(--heading-color);
        //     z-index: -1;
        // }

        .link-emoji {
            transform: rotate(-90deg);
            display: inline-block;

            &-download {
                transform: rotate(0deg);
            }
        }
    }
}

@media (max-width: 50em) {
    .button a {
        font-size: 13px;
    }
}