.input--nao {
    overflow: hidden;
    padding-top: 1em;
}

.input {
    position: relative;
    z-index: 1;
    margin: 0.5em 0 1.5em;
    width: 100%;
    vertical-align: top;
}

.input__field--nao {
    font-weight: 400;
}

.input__field--nao {
    padding: 0.5em 0 0.5em;
    width: 100%;
    background: transparent;
}

.input__field {
    position: relative;
    display: block;
    padding: 0.8em;
    font-size: inherit;
    border: none;
    border-radius: 0;
    font-weight: 300;
    font-family: "Arimo",sans-serif;
    -webkit-appearance: none;
}