:root {
    --background: #fdefe7;
    --white: #FFFFFF;
    --background-dark: #000000;
    --text-color: #0d4027;
    --text-color-hover: rgba(248, 100, 1);
    --text-color-dark: #FFFFFF;
    --theme-color: #dd5c4c;
    --baseline: 1.5;
    --xxs: 0.125;
    --xs: 0.5;
    --s: 0.75;
    --m: 1;
    --l: 1.5;
    --xl: 2.25;
    --xxl: 3;
    --xxxl: 6;
    --sp-xxs: calc(var(--xxs) * 1rem);
    --sp-xs: calc(var(--xs) * 1rem);
    --sp-s: calc(var(--s) * 1rem);
    --sp-m: calc(var(--m) * 1rem);
    --sp-l: calc(var(--l) * 1rem);
    --sp-xl: calc(var(--xl) * 1rem);
    --sp-xxl: calc(var(--xxl) * 1rem);
    --sp-xxxl: calc(var(--xxxl) * 1rem);
    --container-width: 26rem;
    --content-width: 36rem;
    --center-column: 2 / 3;
    --grid-spec: minmax(0, 1fr) minmax(auto,var(--container-width)) minmax(0, 1fr);
    --content-grid-spec: minmax(0, 1fr) minmax(auto, var(--content-width));
    --sub-content-grid-spec: minmax(0, 1fr) minmax(auto, var(--content-width)) minmax(0, 1fr);
    --font-sans: 'Sombra', sans-serif;
    --font-serif: 'Sombra', serif;
    --font-body: var(--font-sans);
    --font-heading: var(--font-serif);
}

html, 
body {
    padding: 0;
    margin: 0;
}

html {
    background-color: var(--background);
    color: var(--text-color);
    font-size: clamp(100%, 2.4vw, 140%);
    font-weight: 100;
    font-family: var(--font-body);
    line-height: var(--baseline);
    -webkit-font-smoothing: antialiased;
}

main {
    padding-left: var(--sp-l);
    padding-right: var(--sp-l);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1, h2, h3 {
    margin-top: 0;
    font-family: var(--font-heading);
    font-weight: 100;
}