.articles {
    list-style: none;
    margin: 0;
    padding: 0;
    
    li {
        font-family: var(--font-sans);
        padding: var(--sp-s) 0;
        line-height: 1.2;
        border-bottom: 1px dashed rgba(#ccc, 0.7);

        a {
            text-decoration: none;
            font-size: 26px;
            font-weight: 400;
            transition: color .2s;

            @media (max-width: 50em) {
                font-size: 20px;
            }

            &:hover {
                color: var(--text-color-hover);
            }
        }

        span {
            display: block;
            margin-top: var(--sp-xs);
            font-weight: 700;
            font-size: 14px;
            font-family: var(--font-body);

            @media (max-width: 50em) {
                font-size: 12px;
            }
        }

        &:first-of-type {
            padding-top: 0;
        }

        &:last-of-type {
            border: none;
            padding-bottom: 0;
        }
    }
}